# DHAKSHANA SREE- SHADOWFOX INTERN PYTHON DEVELOPMENT
TASK-1(BEGINNER)

In [26]:
hello = "Dhakshana"
print(hello)

Dhakshana

In [2]:
print(hello)

Dhakshana

In [3]:
print("hello")

hello

In [15]:
user_input = input()

hii

# VARIABLES

In [29]:
pi = 22/7
print(type(pi))

<class 'float'>

In [9]:
for=4

SyntaxError: invalid syntax (2046953698.py, line 1)

# The "for" is an invalid variable for storing the value so it returns invalid Syntax.Looping statements use "for".It is an reserved Keyword.

In [25]:
P = float(input())
R = float(input())
T = 3
SI = round((P*R*T)/100)  
print("Simple Interest is: ",SI)

50
50
Simple Interest is:  75

In [ ]:
#FUNCTION CREATION
def fun():
    print("Say Hello")
    
fun()

In [4]:
def name(NAME):
    print(f"Hello {NAME}")
    
name("dhaksh")

Hello dhaksh

# NUMBERS

Write a function that takes two arguments, 145 and 'o', and
uses the `format` function to return a formatted string. Print the
result. Try to identify the representation used.

In [6]:
def formatnumber(num,rep):
    return format(num,rep)


result = format(145,'o')
print("Formated string:",result) #octal base representation

Formated string: 221

# Calculate the area of the pond using the formula: Circle Area = πr^2. (Use the value 3.14 for π)

In [7]:
pi = 3.14
radius = float(input())
area = pi * radius**2
print("Area: ",area)

1.4
Area:  6.1544

Bonus Question: If there is exactly
1.4 liters of water in a square meter, what is the total amount of
water in the pond? Print the answer without any decimal point in
it. Hint: Circle Area = π r^2 Water in the pond = Pond Area
Water per Square Meter

In [10]:
pi = 3.14
radius = float(input())
area =pi * radius **2

square_meters = 1.4 * area
result = int(square_meters)
print("Water in the pond: ",result)

3.4
Water in the pond:  50

3.If you cross a 490meter long street in 7 minutes, calculate your
speed in meters per second. Print the answer without any decimal
point in it. Hint: Speed = Distance / Time

In [3]:
#to calculate speed in meter/second multiply the given time with 60 seconds
distance = float(input())
time = float(input())*60
speed = distance/time
result = int(speed)
print("Total speed: ",result,"meter per second")

490
7
Total speed:  1 meter per second

# LIST

# You have a list of superheroes representing the JusticeLeague. justice_league = ["Superman","Batman","WonderWoman","Flash","Aquaman","Green Lantern"]

Calculate the number of members in the Justice League.

In [19]:
justice_league = ["Superman","Batman","WonderWoman","Flash","Aquaman","Green Lantern"]
print("No. of members: " ,len(justice_league))

No. of members:  6

Batman recruited Batgirl and Nightwing as new members.
Add them to your list.

In [20]:
justice_league.extend(["Batgirl","Nightwing"]) # extend keyword helps in adding new mwmwbers to the list
print(justice_league)

['Superman', 'Batman', 'WonderWoman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

Wonder Woman is now the leader of the Justice League.
Move her to the beginning of the list.

In [21]:
justice_league.remove("WonderWoman")
justice_league.insert(0,"WonderWoman")
print(justice_league)

['WonderWoman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

Aquaman and Flash are having conflicts, and you need to
separate them. Choose either "Green Lantern" or "Superman"
and move them in between Aquaman and Flash.

In [23]:
justice_league.remove("Green Lantern")

aquaman_index = justice_league.index("Aquaman")
flash_index = justice_league.index("Flash")

justice_league.insert(flash_index,"Green Lantern")
print(justice_league)

['WonderWoman', 'Superman', 'Batman', 'Green Lantern', 'Flash', 'Aquaman', 'Batgirl', 'Nightwing']

The Justice League faced a crisis, and Superman decided to assemble a new team. Replace the existing list with the following new members: "Cyborg","Shazam","Hawkgirl","Martian Manhunter","Green Arrow".

In [24]:
justice_league = ["Cyborg","Shazam","Hawkgirl","Martian Manhunter","Green Arrow"]
print(justice_league)

['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']

Sort the Justice League alphabetically. The hero at the 0th index will become the new leader.

In [26]:
justice_league.sort()
new_leader = justice_league[0]
print("Memebers: ",justice_league)
print("New Leader: ",new_leader)

Memebers:  ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']
New Leader:  Cyborg

# IF CONDITIONS

Write a program to determine the BMI Category based on user input.
Ask the user to:
Enter height in meters
Enter weight in kilograms

Calculate BMI using the formula: BMI = weight / (height)2
Use the following categories:
If BMI is 30 or greater, print "Obesity"

If BMI is between 25 and 29, print "Overweight"

If BMI is between 18.5 and 25, print "Normal"

If BMI is less than 18.5, print "Underweight"

In [13]:
height = float(input("Enter height in meters: "))
weight = float(input("Enter weight in kilograms: "))
BMI = weight / height**2

if BMI>=30:
    print("Obesity")
    
elif BMI>=25 and BMI<30:
    print("Overweight")

elif BMI>=18.5 and BMI <25:
    print("NORMAL")

else:
    print("Underweight")

Enter height in meters: 1.75
Enter weight in kilograms: 70
NORMAL

Write a program to determine which country a city belongs to. Given
list of cities per country:


Australia = ["Sydney"
,
"Melbourne"
,
"Brisbane"
,
"Perth"]

UAE = ["Dubai"
,
"Abu Dhabi"
,
"Sharjah"
,
"Ajman"]

India = ["Mumbai"
,
"Bangalore"
,
"Chennai"
,
"Delhi"]

Ask the user to enter a city name and print the corresponding country.

In [15]:
Australia = ["Sydney","Melbourne","Birsbane","Perth"]
UAE = ["Dubai","Abu Dhabi","Sharjah","Ajman"]
India = ["Mumbai","Banglore","Chennai","Delhi"]
city = input("Enter city name: ")

if city in Australia:
    print(f"{city} is in Australia")
elif city in UAE:
    print(f"{city} is in UAE")
elif city in India:
    print(f"{city} is in India")
else:
    print(f"{city} not found")

Enter city name: Delhi
Delhi is in India

Write a program to check if two cities belong to the same country.
Ask the user to enter two cities and print whether they belong to the
same country or not.

In [11]:
Australia = ["Sydney","Melbourne","Brisbane","Perth"]
UAE = ["Dubai","Abu Dhabi","Sharjah","Ajman"]
India = ["Mumbai","Bangalore","Chennai","Delhi"]


city1 = input("Enter city1: ").title()
city2 = input("Enter city2: ").title()

def get_country(city):
    if city in Australia:
        return "Australia"
    elif city in UAE:
        return "UAE"
    elif city in India:
        return "India"
    else:
        return None

country1 = get_country(city1)
country2 = get_country(city2)
if country1 and country2:
    if country1 == country2:
        print(f"Both the cities are in same country: {country1}")
    else:
        print("Both the cities are in different countries")
else:
    print("One or both the city values are invalid")

Enter city1: chennai
Enter city2: abu dhabi
Both the cities are in different countries

# For Loop:

Using a for loop, simulate rolling a sixsided die multiple times (at least 20
times).

Count and print the following statistics:

How many times you rolled a 6

How many times you rolled a 1

How many times you rolled two 6s in a row

In [12]:
import random

rolls = 50  # You can set this to any number ≥ 20
count_6 = 0

for _ in range(rolls):
    roll = random.randint(1, 6)
    if roll == 6:
        count_6 += 1

print(f"Number of times 6 appeared: {count_6}")
print(f"Probability of rolling 6: {count_6 / rolls:.2f}")

Number of times 6 appeared: 8
Probability of rolling 6: 0.16

In [14]:
import random

rolls = 50  # You can set this to any number ≥ 20
count_1 = 0

for _ in range(rolls):
    roll = random.randint(1, 6)
    if roll == 1:
        count_1 += 1

print(f"Number of times 1 appeared: {count_1}")
print(f"Probability of rolling 1: {count_1 / rolls:.2f}")

Number of times 1 appeared: 11
Probability of rolling 1: 0.22

2. Imagine you are doing a workout routine, and you have to complete 100
jumping jacks.
Write a program that:
Asks you to perform 10 jumping jacks at a time.
After each set, it asks, "Are you tired?"
If you reply "yes" or "y," it should ask if you want to skip the remaining sets.
If you reply "yes" or "y," it should break and print, "You completed a total of
jumping jacks."
For example, if you did only 30 jumping jacks and answered "yes," the program
will break and print, "You completed a total of 30 jumping jacks."
If you reply "no" or "n," it should continue and display how many jumping jacks
are remaining. After that, ask you again, "Are you tired?"
For example, if you answered "no," it should display that 70 jumping jacks are
remaining and ask you again, "Are you tired?"
If you reply "no" or "n," it should continue and display how many jumping jacks
are remaining. After that, ask you again, "Are you tired?"
For example, if you answered "no," it should display that 70 jumping jacks are
remaining and ask you again, "Are you tired?"
If you complete all 100 jumping jacks, it should print, "Congratulations! You
completed the workout," and stop the program

In [1]:
total_jumping_jacks = 100
done = 0

for i in range(0, total_jumping_jacks, 10):  # Loop in steps of 10
    done += 10
    print(f"You've done {done} jumping jacks.")

    tired = input("Are you tired? (yes/no): ").strip().lower()

    if tired == "yes" or tired == "y":
        skip = input("Do you want to skip the remaining sets? (yes/no): ").strip().lower()
        if skip == "yes" or skip == "y":
            print(f"You completed a total of {done} jumping jacks.")
            break
        else:
            remaining = total_jumping_jacks - done
            print(f"Okay! {remaining} jumping jacks remaining. Keep going!\n")
    else:
        remaining = total_jumping_jacks - done
        print(f"Great! {remaining} jumping jacks remaining.\n")


if done == total_jumping_jacks:
    print("Congratulations! You completed the workout.")

You've done 10 jumping jacks.
Are you tired? (yes/no): y
Do you want to skip the remaining sets? (yes/no): n
Okay! 90 jumping jacks remaining. Keep going!

You've done 20 jumping jacks.
Are you tired? (yes/no): n
Great! 80 jumping jacks remaining.

You've done 30 jumping jacks.
Are you tired? (yes/no): n
Great! 70 jumping jacks remaining.

You've done 40 jumping jacks.
Are you tired? (yes/no): n
Great! 60 jumping jacks remaining.

You've done 50 jumping jacks.
Are you tired? (yes/no): n
Great! 50 jumping jacks remaining.

You've done 60 jumping jacks.
Are you tired? (yes/no): n
Great! 40 jumping jacks remaining.

You've done 70 jumping jacks.
Are you tired? (yes/no): n
Great! 30 jumping jacks remaining.

You've done 80 jumping jacks.
Are you tired? (yes/no): n
Great! 20 jumping jacks remaining.

You've done 90 jumping jacks.
Are you tired? (yes/no): n
Great! 10 jumping jacks remaining.

You've done 100 jumping jacks.
Are you tired? (yes/no): n
Great! 0 jumping jacks remaining.

Congratulations! You completed the workout.

#  Dictionary

Create a list of your friends' names. The list should have at least 5 names.
Create a list of tuples. Each tuple should contain a friend's name and the length
of the name.

In [2]:

friends = ["Aarav", "Priya", "Vikram", "Sneha", "Karthik"]

name_lengths = []

for friend in friends:
    name_lengths.append((friend, len(friend)))


print("List of name and their lengths:")
print(name_lengths)

List of name and their lengths:
[('Aarav', 5), ('Priya', 5), ('Vikram', 6), ('Sneha', 5), ('Karthik', 7)]

2.You and your partner are planning a trip, and you want to track expenses.
Create two dictionaries, one for your expenses and one for your partner's
expenses. Each dictionary should contain at least 5 expense categories and their
corresponding amounts.

In [3]:
your_expenses = {
    "Hotel": 1200,
    "Food": 800,
    "Transportation": 500,
    "Attractions": 300,
    "Miscellaneous": 200
}

partner_expenses = {
    "Hotel": 1000,
    "Food": 900,
    "Transportation": 600,
    "Attractions": 400,
    "Miscellaneous": 150
}

your_total = sum(your_expenses.values())
partner_total = sum(partner_expenses.values())

print(f"Your total expenses: ₹{your_total}")
print(f"Partner's total expenses: ₹{partner_total}")


if your_total > partner_total:
    print("You spent more overall.")
elif partner_total > your_total:
    print("Your partner spent more overall.")
else:
    print("Both spent the same amount.")

max_diff = 0
max_diff_category = ""

for category in your_expenses:
    diff = abs(your_expenses[category] - partner_expenses[category])
    if diff > max_diff:
        max_diff = diff
        max_diff_category = category

print(f"Biggest difference in spending is in '{max_diff_category}' category: ₹{max_diff}")

Your total expenses: ₹3000
Partner's total expenses: ₹3050
Your partner spent more overall.
Biggest difference in spending is in 'Hotel' category: ₹200